/*фоновое изображение игры*/
body {
  background-image: url("../img/background/img_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
/*todo не работает*/
.modal{
  display: none;
  position: fixed;
  inset: 0;
}
/*todo не работает*/
.modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*кнопки*/
.button-base-lv-th { /*todo кнопки в теории и в уровнях*/
  border: 2px solid #9a7951;
  background: #e1ceb9;
  font-family: "JetBrains Mono ExtraBold", serif;
  color: #3b3019;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
}

.btn--theory {/*todo кнопка именно в форме с теорией*/
  margin-top: 10px;
  margin-left: 5%;
  height: 15%;
  width: 89%;
  margin-bottom: 5px;
}

.btn--to-task {/* todo кнопка в блоке с теорией*/
  margin-top: 10px;
  width: 650px;
  height: 60px;
  margin-bottom: 15px;
}

/* todo поля для теории (стоит наверное тут указывать */
.div--th {
  background: antiquewhite;
  border: 4px solid #9a7951;
  border-radius: 15px;
}

/*todo пересмотреть дизайн добавить стилей*/
label {
  margin-top: 5px;
  margin-right: 5%;
}

input{ /*todo очень похож стиль с кнопкой возможно объединить*/
  border: 2px solid #9a7951;
  background: #e1ceb9;
  margin-bottom: 5px;
}

/*todo пересмотреть возможно не самый лучший выбор селекторов*/
.form--th > label, input{
  border-radius: 10px;
  margin-left: 5%;
  height: 11%;
  width: 87%;
  color: #45361c;
  font-family: "JetBrains Mono ExtraBold", serif;
  font-size: 20px;
}

/*todo аддитивность страдает, нужно не в пикселяъ*/
canvas, .form--th {
  background: antiquewhite;
  border: 4px solid #9a7951;
  border-radius: 15px;
  height: 400px;
  width: 400px;
}

/*контейнеры для теории*/
.container {
  position: fixed;
  bottom: 10%;
  right: 15%;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 70%;
  overflow-y: auto;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.teor {
  font-size: 25px;
  color: #45361c;
  font-family: "JetBrains Mono ExtraBold", serif;
  margin-left: 35px;
  margin-right: 35px;
  opacity: 5;
  visibility: visible;
  margin-bottom: 0;
}

.title-th {
  font-size: 40px;
  text-align: center;
  font-family: "JetBrains Mono ExtraBold", serif;
  color: #3b3019;
  font-width: 700%;
}

.game-row{
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

.scroll {
  scrollbar-color: #9a7951 rgb(250 235 215 / 0);
  scrollbar-width: thin;
  padding: 15px;
}

.bear {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 450px;
}

