/*фоновое изображение игры*/
.body-start {
  background-image: url("../img/background/img_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

input:focus {/*todo базовое свечение аннулировано пересмотреть или везде оправдано*/
  outline: none;
}

.modal{
  display: none;
  position: fixed;
  inset: 0;
}

.modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*кнопки*/
.button-base-lv-th { /*todo кнопки в теории и в уровнях*/
  border: 2px solid #9a7951;
  background: #e1ceb9;
  font-family: "JetBrains Mono ExtraBold", serif;
  color: #3b3019;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
}

.btn--theory {/*todo кнопка именно в форме с теорией*/
  margin-top: 10px;
  margin-left: 5%;
  height: 15%;
  width: 89%;
  margin-bottom: 5px;
}

.btn--to-task {/* todo кнопка в блоке с теорией*/
  margin-top: 10px;
  width: 650px;
  height: 60px;
  margin-bottom: 15px;background: #ceb899;
}

/* todo поля для теории (стоит наверное тут указывать */
.div--th {
  background: antiquewhite;
  border: 4px solid #9a7951;
  border-radius: 15px;
}

/*todo пересмотреть дизайн добавить стилей*/
label {
  margin-top: 5px;
  margin-right: 5%;
}

input[type="text"],
input[type="number"],
input[type="email"]{ /*todo очень похож стиль с кнопкой возможно объединить*/
  border: 2px solid #9a7951;
  background: #e1ceb9;
  margin-bottom: 5px;
}

/*todo пересмотреть возможно не самый лучший выбор селекторов*/
.form--th > label, input{
  border-radius: 10px;
  margin-left: 5%;
  height: 11%;
  width: 87%;
  color: #45361c;
  font-family: "JetBrains Mono ExtraBold", serif;
  font-size: 20px;
}

/*todo аддитивность страдает, нужно не в пикселяъ*/
.canvas--th, .form--th {
  background: antiquewhite;
  border: 4px solid #9a7951;
  border-radius: 15px;
  height: 400px;
  width: 400px;
}

/*контейнеры для теории*/
.container {
  position: fixed;
  bottom: 10%;
  right: 15%;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 70%;
  overflow-y: auto;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.teor {
  font-size: 25px;
  color: #45361c;
  font-family: "JetBrains Mono ExtraBold", serif;
  margin-left: 35px;
  margin-right: 35px;
  opacity: 5;
  visibility: visible;
  margin-bottom: 0;
}

.title-th {
  font-size: 40px;
  text-align: center;
  font-family: "JetBrains Mono ExtraBold", serif;
  color: #3b3019;
  font-width: 700%;
}

.game-row{
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

.scroll {/*todo scroll хорош, но в разных браузерах совершенно разное отображение*/
  scrollbar-color: #9a7951 rgb(250 235 215 / 0);
  scrollbar-width: thin;
  padding: 15px;
}

.bear { /**картинка мишки сопроводителя*/
  position: fixed;
  bottom: 0;
  right: 0;
  height: 450px;
}

.form--th > input:hover, button:hover {
  border: 2px solid #8a6d49;
  background: #ead2b6;
}

.form--th > input:focus, button:active { /*todo не менять местами с hover*/
  background: #ceb899;
}

/*todo итоговое.
   Очень много похожего кода в форме теории, шрифт и тп, возможно стоит поднять по уровням это, так
    как выглядит небрежно и с дублями
 */

/*-----------*/

.canvas--lv, .form--lv {
  background: antiquewhite;
  border: 4px solid #9a7951;
  border-radius: 15px;
  width: 450px;
  height: 450px;
}

.text-lv-tz {
  font-family: "JetBrains Mono ExtraBold", serif;
  color: #3b3019;
  font-size: 24px;
  margin-right: 14px;
  margin-left: 14px;
}

.label--lv, .input--lv{
  border-radius: 10px;
  margin-left: 5%;
  height: 11%;
  width: 87%;
  color: #45361c;
  font-family: "JetBrains Mono ExtraBold", serif;
  font-size: 20px;
  margin-top: 5px;
}

.button-lv-form {
  border-radius: 10px;
  margin-left: 5%;
  height: 15%;
  width: 88.5%;
  color: #45361c;
  font-family: "JetBrains Mono ExtraBold", serif;
  font-size: 20px;
  margin-top: 20px;
}

.section-lv{
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: left;
  align-items: flex-start;
  margin-left: 80px;
}

.body-lv {
  background-image: url("../img/background/img_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.container--1 {
  position: fixed;
  bottom: 8%;
  right: 15%;
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 300px;
  overflow-y: auto;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
}
