body {
  background-image: url("../img/background/img_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.modal{
  display: none;
  position: fixed;
  inset: 0;
}

.modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  background: none;
  color: white;
  font-size: 15px;
}

.div {
  background: antiquewhite;
  border: 4px solid #9a7951;
  border-radius: 15px;
}

canvas, form {
  background: antiquewhite;
  border: 4px solid #9a7951;
  border-radius: 15px;
  height: 320px;
  width: 320px;
}

.container {
  position: fixed;
  bottom: 10%;
  right: 15%;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 70%;
  overflow-y: auto;
  gap: 15px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.teor {
  font-size: 25px;
  color: #45361c;
  font-family: "JetBrains Mono ExtraBold", serif;
  margin-left: 15px;
  margin-right: 25px;
  opacity: 5;
  visibility: visible;
  margin-bottom: 0;
}

.title-th {
  font-size: 40px;
  text-align: center;
  font-family: "JetBrains Mono ExtraBold", serif;
  color: #3b3019;
  font-width: 700%;
}

label {
  font-size: 15px;
  margin-top: 0;
  color: #45361c;
  font-family: "JetBrains Mono ExtraBold", serif;
  margin-left: 5%;
  margin-right: 5%;
  height: 10%;
}

input, .but {
  border-radius: 10px;
  margin-top: 0;
  margin-left: 5%;
  height: 10%;
  width: 87%;
  border: 2px solid #9a7951;
  background: #e1ceb9;
  margin-bottom: 5px;
  color: #45361c;
}

.game-row{
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: center;
  align-items: flex-start;
}

.scroll {
  scrollbar-color: #9a7951 rgb(250 235 215 / 0);
  scrollbar-width: thin;
  padding: 15px;
}

.bear {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 450px;
}
